<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">

    <!-- title -->
    <title>公司简介_立信创源二维码营销/管理方案专家</title>
    <% include common/title.ejs %>

    <link rel="stylesheet" href="/plugs/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/css/aboutUs.css" type="text/css">
</head>
<body>
<div id="container">
    <!-- 头部 -->
    <% include common/header.ejs %>

    <div class="content">
        <div class="banner1">
            <img src="/images/10/7_2.png" alt="">
        </div>

        <div class="about-con">
            <div class="con-title">
                <img src="/images/10/7_3.png" alt="">
                <div class="title-text">企业简介</div>
            </div>

            <div class="con-dec">

                <div class="con-dec-left">
                    <br/>
                    <br/>
                    <div class="con-dec-text">
                        深圳市立信创源科技有限公司成立于2013年，是一家专注于一物一码领域，以“一物一码”为核心，提供全产业链一体化服务，含方案规划、产品溯源、防窜货、自动识别硬件、扫码智慧营销、SaaS平台、移动互联网应用等。
                    </div>
                    <br/>

                    <div class="con-dec-text">
                        立信创源将物联网技术与传统产业对接融合，通过“一物一码”联接人、物、场，为传统企业在渠道上动销赋能，让营销资源精准的投放在每一次消费行为中，从而打造人工智能精准智慧营销，助力企业新零售转型。
                    </div>
                </div>

                <img class="con-dec-img" src="/images/10/7_8.jpg" alt="">

            </div>

        </div>

        <div class="banner2">
            <img src="/images/10/4_02.png" alt="">
        </div>

        <div class="banner3">
            <div class="banner-item first-banner-item">
                <img class="banner-img" src="/images/10/7_5.png" alt="">
                <div class="banner-title">深圳市双软企业</div>
            </div>
            <div class="banner-item">
                <img class="banner-img" src="/images/10/7_6.png" alt="">
                <div class="banner-title">国家高新技术企业</div>
            </div>
            <div class="banner-item">
                <img class="banner-img" src="/images/10/7_7.png" alt="">
                <div class="banner-title">深圳市高新技术企业</div>
            </div>

        </div>

        <!--荣誉-->
        <div class="honor-wra">
            <div class="honor">
                <div class="honor-list">
                    <div class="honor-item">
                        国家高新技术企业
                    </div>

                    <div class="honor-item">
                        深圳市高新技术企业
                    </div>

                    <div class="honor-item">
                        深圳市双软企业
                    </div>

                    <div class="honor-item">
                        十九项知识产权
                    </div>

                    <div class="honor-item">
                        第四届中国开源软件大赛创新奖
                    </div>

                </div>

                <div class="honor-list last-honor-list">
                    <div class="honor-item">
                        第二届中国食品饮料峰会技术代表
                    </div>

                    <div class="honor-item">
                        阿里巴巴二维码软件技术指定服务商
                    </div>

                    <div class="honor-item">
                        中移物联网指定技术服务商
                    </div>

                    <div class="honor-item">
                        智联招聘移动技术服务商
                    </div>

                    <div class="honor-item">
                        凤凰卫视广东卫视深圳特区报宝安日报多次报道
                    </div>

                </div>
            </div>
        </div>

        <div class="wall">
            <img src="/images/10/4_07.jpg" alt="">
        </div>

        <div class="index-pic index-pic_7">
            <div class="title">团队风采</div>
            <div class="gallery-container">
                <div class="gallery-wrapper">
                    <div class="poster-main" id="carousel" data-setting='{
                                "width":1000,
                                "height":434,
                                "posterWidth":666,
                                "posterHeight":434,
                                "scale":0.8,
                                "speed":300,
                                "autoPlay":true,
                                "delay":3000,
                                "verticalAlign":"middle"
                                }'>
                        <div class="poster-btn poster-prev-btn"></div>
                        <ul class="poster-list">
                            <li class="poster-item">
                                <img src="../images/11/0.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/22.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/21.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/20.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/19.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/18.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/17.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/16.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/15.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/14.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/12.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/11.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/10.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/9.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/8.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/7.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/6.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/5.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/4.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/3.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/2.jpg" alt="" width="100%" />
                            </li>

                            <li class="poster-item">
                                <img src="../images/11/1.jpg" alt="" width="100%" />
                            </li>
                            <li class="poster-item">
                                <img src="../images/11/13.jpg" alt="" width="100%" />
                            </li>

                        </ul>
                        <div class="poster-btn poster-next-btn"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--发展历程-->
        <div class="development-path">
            <img src="/images/10/4_04.png" alt="">
        </div>

        <!--目标-->
        <div class="aims-wra">
            <div class="aims">
                <div class="aims-left">
                    <div class="aims-list">
                        <div class="aims-item">
                            公司愿景
                        </div>

                        <div class="aims-item">
                            通过二维码联接人、物、场
                        </div>

                        <div class="aims-item">
                            借力大数据新技术为渠道动销赋能
                        </div>

                        <div class="aims-item">
                            把营销资源精准的投放在每一次消费行为中
                        </div>

                        <div class="aims-item">
                            打造人工智能精准智慧营销，助力企业新零售转型
                        </div>
                    </div>
                </div>

                <div class="aims-right">
                    <img src="../images/10/4_05.png" alt="">
                </div>
            </div>
        </div>

        <!-- 相关案例 -->
        <% if (pageCaseList.length > 0) { %>
        <div class="core-case">
            <div class="content">
                <img class="case-tit" src="/images/10/3_16.png" />
                <div class="case-list">
                    <% for (var i = 0; i < pageCaseList.length; i++) { %>
                    <% if (i < 2) { %>
                    <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html">
                        <img src="<%= pageCaseList[i].imgUrl %>" />
                        <div class="case-title"><%= pageCaseList[i].title %></div>
                    </a>
                    <% } else { %>
                    <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html" style="margin-right: 0;">
                        <img src="<%= pageCaseList[i].imgUrl %>" />
                        <div class="case-title"><%= pageCaseList[i].title %></div>
                    </a>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <div id="mask"></div>
    <div id="imgView"></div>

    <!-- 侧边栏 -->
    <% include common/rightBar.ejs %>

    <!-- 底部 -->
    <% include common/footer.ejs %>


    <!-- 合作意向表 -->
    <% include common/coopIntention.ejs %>
</div>

<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/backTop.js" type="text/javascript"></script>
<script src="/js/lib/common.js" type="text/javascript"></script>
<script src="/js/lib/rightBar.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/lib/swiper.js"></script>
<script type="text/javascript" src="/js/aboutUs.js"></script>
<script src="/plugs/Carousel/Carousel.js"></script>
<script type="text/javascript">
    main.init();

    // 团队风采轮播
    Carousel.init($("#carousel"));
    $("#carousel").init();
</script>
</body>

<% include common/baidu.ejs %>

</html>