<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">

    <!-- title -->
    <title>产品介绍_立信创源二维码营销/管理方案专家</title>
    <% include common/title.ejs %>

    <link rel="stylesheet" href="/plugs/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/plugs/fonts/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/css/smartMarketing.css" type="text/css">
    <style>

    </style>
</head>
<body>
<div id="container">
    <!-- 头部 -->
    <% include common/header.ejs %>

    <div class="content">

        <!--顶部图片-->
        <div class="topImg">
            <img class="topImg-bg" src="../images/3/3_1.png" alt="">
            <!--<div class="img-wra">
                <img class="img img1" src="../images/3/3_1_1.png" alt="">
                <img class="img img2" src="../images/3/3_1_2.png" alt="">
                <img class="img img3" src="../images/3/3_1_3.png" alt="">
                <img class="img img4" src="../images/3/3_1_4.png" alt="">
                <img class="img img5" src="../images/3/3_1_5.png" alt="">
                <img class="img img6" src="../images/3/3_1_6.png" alt="">
                <img class="img img7" src="../images/3/3_1_7.png" alt="">
            </div>-->
        </div>

        <!--立体式激励管理-->
        <div class="item-modules item-modules_1">
            <div class="item-modules-title">全方位立体式激励管理</div>
            <div class="item-modules-introduce">可以基于客户数据提供全方位洞察，让消费体验变得更加个性化，并最大化整个客户生命周期价值</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/3/3_2.png" alt="">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <div class="manage-title">
                            <div class="manage-title-text">业务员平台</div>
                            <div class="manage-title-line"></div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                旗下客户管理
                            </div>
                            <div class="manage-child-item">
                                业绩管理
                            </div>
                            <div class="manage-child-item">
                                业绩完成奖
                            </div>
                            <div class="manage-child-item">
                                晋升奖励
                            </div>
                            <div class="manage-child-item">
                                业务拜访
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_2">
                        <div class="manage-title">
                            <div class="manage-title-line"></div>
                            <div class="manage-title-text">经销商平台</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                旗下门店管理
                            </div>
                            <div class="manage-child-item">
                                销售订单管理
                            </div>
                            <div class="manage-child-item">
                                消费者管理
                            </div>
                            <div class="manage-child-item">
                                活动核销管理
                            </div>
                            <div class="manage-child-item">
                                门店巡查
                            </div>
                            <div class="manage-child-item">
                                铺市奖、领任务奖
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <div class="manage-title">
                            <div class="manage-title-text">分销用户</div>
                            <div class="manage-title-line"></div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                分销奖励
                            </div>
                            <div class="manage-child-item">
                                活动奖励
                            </div>
                            <div class="manage-child-item">
                                附近门店
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <div class="manage-title">
                            <div class="manage-title-line"></div>
                            <div class="manage-title-text">终端门店平台</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                旗下促销员管理
                            </div>
                            <div class="manage-child-item">
                                销售订单管理
                            </div>
                            <div class="manage-child-item">
                                返利奖、达标奖
                            </div>
                            <div class="manage-child-item">
                                累计奖、领任务奖
                            </div>
                            <div class="manage-child-item">
                                消费提醒
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_5">
                        <div class="manage-title">
                            <div class="manage-title-text">会员平台</div>
                            <div class="manage-title-line"></div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                购买订单管理
                            </div>
                            <div class="manage-child-item">
                                分销返利管理
                            </div>
                            <div class="manage-child-item">
                                活动奖励
                            </div>
                            <div class="manage-child-item">
                                附近门店
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_6">
                        <div class="manage-title">
                            <div class="manage-title-line"></div>
                            <div class="manage-title-text">促销员平台</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                消费者管理
                            </div>
                            <div class="manage-child-item">
                                销售订单管理
                            </div>
                            <div class="manage-child-item">
                                返利奖、达标奖、累计奖、领任务奖
                            </div>
                            <div class="manage-child-item">
                                消费提醒
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center-point">
                    <div class="center-title">企业后台</div>
                    <div class="center-child-list">
                        <div class="center-child-item">活动灵活设置</div>
                        <div class="center-child-item">用户信息获取</div>
                        <div class="center-child-item">用户行为分析</div>
                        <div class="center-child-item">财务信息管控</div>
                    </div>
                </div>
            </div>
        </div>

        <!--扁平化渠道动销体系-->
        <div class="item-modules item-modules_2">
            <div class="item-modules-title">扁平化渠道动销体系</div>
            <div class="item-modules-introduce">运用新零售智慧营销扁平铺市节约成本、加快铺货、提升利润、加大复购</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/3/3_4.png" alt="">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <div class="manage-title">
                            <div class="manage-title-text">渠道营销</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                不同角色不同返利
                            </div>
                            <div class="manage-child-item">
                                不同销量不同等级
                            </div>
                            <div class="manage-child-item">
                                不同努力不同优惠
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_2">
                        <div class="manage-title">
                            <div class="manage-title-text">精准营销</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                一店一策、一地一策
                            </div>
                            <div class="manage-child-item">
                                定点、定时、定人、定码
                            </div>
                            <div class="manage-child-item">
                                忠实、意向、目标、潜在用户分组
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <div class="manage-title">
                            <div class="manage-title-text">创意营销</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                千种游戏随时切换
                            </div>
                            <div class="manage-child-item">
                                分享裂变强力拓客
                            </div>
                            <div class="manage-child-item">
                                微信活粉品牌沾性
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img img1" src="../images/3/3_4_1.png" alt="">
                <img class="img img2" src="../images/3/3_4_2.png" alt="">
                <img class="img img3" src="../images/3/3_4_3.png" alt="">
                <img class="img img4" src="../images/3/3_4_4.png" alt="">
                <img class="img img5" src="../images/3/3_4_5.png" alt="">
                <img class="img img6" src="../images/3/3_4_6.png" alt="">
            </div>
        </div>

        <!--免费试用-->
        <div class="item-modules item-modules_3">
            <div class="item-modules-dec">
                <div class="video-wra">
                    <div class="video-left">
                        <video class="video" controls>
                            <source src="https://h5.ebiaoji.com/letsunVideo/qdwz.MP4" type="video/mp4">
                            您的浏览器不支持视频播放，请切换到极速模式或者更换浏览器~。
                        </video>
                        <img class="video-bg" src="../images/3/3_5.png" alt="">
                        <img src="../images/3/3_6.png" alt="" class="playBtn" id="playBtn">
                    </div>
                    <div class="video-right">
                        <img class="img-top" src="../images/3/3_8.png" alt="">
                        <img class="try-btn" src="../images/3/3_7.png" alt="">
                        <img class="img3" src="../images/3/3_7_1.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!--大数据分析-->
        <div class="item-modules item-modules_4">
            <div class="item-modules-title">
                <img src="../images/3/3_9.png" alt="">
            </div>
            <div class="item-modules-dec">
                <div class="effect-wra">
                    <div class="effect-left">
                        <div class="data-img">
                            <img src="../images/3/3_13.png" alt="">
                        </div>

                        <div class="phone">

                            <!--手机轮播图-->
                            <div class="swiper-container swiper-container_1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0);" target="_blank">
                                            <img src="../images/3/3_12_1.png">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0);" target="_blank">
                                            <img src="../images/3/3_12_2.png">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0);" target="_blank">
                                            <img src="../images/3/3_12_3.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="effect-right">
                        <div class="analysis-list">
                            <div class="analysis-item first-analysis-item">
                                <div class="analysis-title">活动数据</div>
                                <div class="analysis-child-list">
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">事件分析</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">漏斗转换</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">留存分析</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">分布分析</div>
                                    </div>
                                </div>
                            </div>
                            <div class="analysis-item">
                                <div class="analysis-title">用户分析</div>
                                <div class="analysis-child-list">
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">用户忠实度分析</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">用户行为分析</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">用户路径分析</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">用户属性分析</div>
                                    </div>
                                </div>
                            </div>
                            <div class="analysis-item">
                                <div class="analysis-title">数据预警</div>
                                <div class="analysis-child-list">
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">用户消费到期预警</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">活动奖品、金额预警</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">用户活跃度预警</div>
                                    </div>
                                    <div class="analysis-child-item">
                                        <i class="icon iconfont icon-lingxing"></i>
                                        <div class="child-text">用户销售进展预警</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 相关案例 -->
        <% if (pageCaseList.length > 0) { %>
            <div class="core-case">
                <div class="content">
                    <img class="case-tit" src="/images/10/3_16.png" />
                    <div class="case-list">
                        <% for (var i = 0; i < pageCaseList.length; i++) { %>
                            <% if (i < 2) { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } else { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html" style="margin-right: 0;">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <!-- 底部 -->
    <% include common/footer.ejs %>

    <!-- 侧边栏 -->
    <% include common/rightBar.ejs %>

    <!-- 合作意向表 -->
    <% include common/coopIntention.ejs %>

</div>

<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/swiper.js" type="text/javascript"></script>
<script src="/js/lib/backTop.js" type="text/javascript"></script>
<script src="/js/lib/common.js" type="text/javascript"></script>
<script src="/js/lib/rightBar.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/lib/swiper.js"></script>
<script type="text/javascript">
    initSwiper();

    /**
     * @desc 配置轮播图
     */
    function initSwiper() {

        new Swiper('.swiper-container_1', {
            pagination: '.pagination',
            loop: true,
            calculateHeight: true,
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            autoplay: 3000
        });

        $('.swiper-container').css({
            'opacity': '1',
            'filter': 'alpha(opacity=100)'
        });
    }

    // 点击播放视频
    $('#playBtn').on('click',function () {
        $('.video-bg').hide();
        $('#playBtn').hide();
        $('.video').get(0).play();
    });

    // 监听视频播放结束
    $('.video').on('ended',function () {
        $('.video-bg').show();
        $('#playBtn').show();
        $('.video').get(0).pause();
    });


    // 点击免费试用
    $(".try-btn").on("click",function(e) {
        $(".coop-intention").show();
        e.stopPropagation();
    });

</script>
</body>
<% include common/baidu.ejs %>
</html>