<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">

    <!-- title -->
    <title>产品介绍_立信创源二维码营销/管理方案专家</title>
    <% include common/title.ejs %>

    <link rel="stylesheet" href="/plugs/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/plugs/fonts/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/css/traceBackChannel.css" type="text/css">
</head>
<body>
<div id="container">
    <!-- 头部 -->
    <% include common/header.ejs %>

    <div class="content">
        
        <!--顶部图片-->
        <div class="topImg">
            <img src="../images/2/2_1.png" alt="">
        </div>

        <div class="nav">
            <a class="nav-item first-nav-item" href="/traceBackProduce.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_2_2.png" alt="">
                        <img class="news-img" src="../images/2/2_2.png" alt="">
                    </div>

                    <div class="nav-text">生产追溯系统</div>
                </div>

            </a>

            <a class="nav-item active second-nav-item" href="/traceBackChannel.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_3_2.png" alt="">
                        <img class="news-img" src="../images/2/2_3.png" alt="">
                    </div>
                    <div class="nav-text">渠道流通管理</div>
                </div>
            </a>

            <a class="nav-item three-nav-item" href="/traceBackPickUp.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_4_2.png" alt="">
                        <img class="news-img" src="../images/2/2_4.png" alt="">
                    </div>
                    <div class="nav-text">防窜货</div>
                </div>
            </a>
        </div>

        <!--渠道管理-->
        <div class="item-modules item-modules_1">
            <div class="item-dec-bg"></div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_6.jpg" alt="">
                <div class="item-dec-wra">
                    <div class="item-dec-title">渠道管理是否会遇到以下问题？</div>
                    <div class="manage-list">
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">渠道商协同效率低、信息流转不及时，沟通成本大</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">消费者终端数据难获取</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">促销数据难监管，运营成本高</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">促销活动难执行</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">库存、物流周转不畅，数据反馈及跟踪不及时</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">终端的促销奖品或优惠的到达率低</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">窜货、倒货现象无法管控，利润被剥削</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--全角色管理-->
        <div class="item-modules item-modules_2">
            <div class="item-modules-title">
                <img class="modules_bg1" src="../images/2/2_7.png" alt="">
            </div>
            <div class="item-modules-dec">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                <div class="child-item-left">客户资料</div>
                                <div class="child-item-right">客户等级</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">采购订单</div>
                                <div class="child-item-right">采购记录</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">财务状态</div>
                                <div class="child-item-right">信用等级</div>
                            </div>
                        </div>
                        <div class="manage-title">供应商</div>
                    </div>
                    <div class="manage-item manage-item_2">

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                <div class="child-item-left">客户资料</div>
                                <div class="child-item-right">客户等级</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">采购订单</div>
                                <div class="child-item-right">采购记录</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">财务状态</div>
                                <div class="child-item-right">信用等级</div>
                            </div>
                        </div>
                        <div class="manage-title">经销商</div>
                    </div>
                    <div class="manage-item manage-item_3">

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                <div class="child-item-left">客户资料</div>
                                <div class="child-item-right">客户等级</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">消费记录</div>
                                <div class="child-item-right">奖励办法</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">互动办法</div>
                                <div class="child-item-right">防伪溯源</div>
                            </div>
                        </div>
                        <div class="manage-title">消费者</div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                <div class="child-item-left">个人资料</div>
                                <div class="child-item-right">业务管理</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">关联订单</div>
                                <div class="child-item-right">关联客户</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">财务状态</div>
                                <div class="child-item-right">激励办法</div>
                            </div>
                        </div>
                        <div class="manage-title">业务员</div>
                    </div>
                    <div class="manage-item manage-item_5">

                        <div class="manage-child-list">
                            <div class="manage-child-item">
                                <div class="child-item-left">个人资料</div>
                                <div class="child-item-right">客户登记</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">销售订单</div>
                                <div class="child-item-right">销售记录</div>
                            </div>
                            <div class="manage-child-item">
                                <div class="child-item-left">销售激励</div>
                                <div class="child-item-right">关联客户</div>
                            </div>
                        </div>
                        <div class="manage-title">终端</div>
                    </div>
                </div>
            </div>
        </div>

        <!--流通采集数据-->
        <div class="item-modules item-modules_3">
            <div class="item-modules-title">
                <img src="../images/2/2_10.png" alt="">
            </div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_11_3.png" alt="">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <div class="manage-text">财务<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_2">
                        <div class="manage-text">各渠道商<br/>信息</div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <div class="manage-text">收发货<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <div class="manage-text">退换货<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_5">
                        <div class="manage-text">物流<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_6">
                        <div class="manage-text">销售<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_7">
                        <div class="manage-text">库存<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_8">
                        <div class="manage-text">窜货<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_9">
                        <div class="manage-text">扫码<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_10">
                        <div class="manage-text">会员<br/>数据采集</div>
                    </div>
                    <div class="manage-item manage-item_11">
                        <div class="manage-text">营销<br/>数据采集</div>
                    </div>
                </div>
                <div class="manage-center">
                    <div class="manage-center-title">一码采集</div>
                    <div class="manage-center-dec">各流通环节数据</div>
                </div>
            </div>
        </div>

        <!--库存管理-->
        <div class="item-modules item-modules_4">
            <div class="item-modules-title">
                <img src="../images/2/2_12.png" alt="">
            </div>
            <div class="item-modules-dec">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <img class="manage-item-img" src="../images/2/2_13_1.png" />
                        <div class="manage-item-text">出入库</div>
                    </div>

                    <div class="manage-item manage-item_2">
                        <img class="manage-item-img" src="../images/2/2_13_2.png" />
                        <div class="manage-item-text">收发货</div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <img class="manage-item-img" src="../images/2/2_13_3.png" />
                        <div class="manage-item-text">调&nbsp;&nbsp;&nbsp;拨</div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <img class="manage-item-img" src="../images/2/2_13_4.png" />
                        <div class="manage-item-text">盘&nbsp;&nbsp;&nbsp;点</div>
                    </div>
                    <div class="manage-item manage-item_5">
                        <img class="manage-item-img" src="../images/2/2_13_5.png" />
                        <div class="manage-item-text">各种分析报表</div>
                    </div>
                    <div class="manage-item manage-item_6">
                        <img class="manage-item-img" src="../images/2/2_13_6.png" />
                        <div class="manage-item-text">库存预警</div>
                    </div>
                </div>
            </div>
        </div>

        <!--渠道营销管理-->
        <div class="item-modules item-modules_5">
            <div class="item-modules-title">
                <img src="../images/2/2_14.png" alt="">
            </div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_15.png" alt="">
                <div class="manage-list">
                    <div class="manage-item first-manage-item">
                        <div class="manage-item-title">经销商</div>
                        <div class="manage-item-dec">帮助多下货</div>
                        <div class="manage-item-text">巡店，拜访，门店报表，总部对接，政策查询，业务奖励</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-title">店主</div>
                        <div class="manage-item-dec">奖励多进货</div>
                        <div class="manage-item-text">进货，返利，上架，返利，销售，<br/>分润，持续进货，持续分润</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-title">促销员</div>
                        <div class="manage-item-dec">刺激多卖货</div>
                        <div class="manage-item-text">话术，销售工具，返利，提升等级，奖励，完成任务，奖励，持续推销</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-title">消费者</div>
                        <div class="manage-item-dec">拉动多复购</div>
                        <div class="manage-item-text">选购，返利，游戏，粘性，粉丝，<br/>持续返利，持续消费</div>
                    </div>
                </div>
            </div>
        </div>

        <!--系统特色-->
        <div class="item-modules item-modules_6">
            <div class="item-modules-title">
                <img src="../images/2/2_16.png" alt="">
            </div>
            <div class="item-modules-dec">
                <div class="manage-list">
                    <div class="manage-item first-manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_17.png" alt="">
                        </div>
                        <div class="manage-item-title">管理方便</div>
                        <div class="manage-item-dec">通过相关数据的整合，对每个角色进行画像，更便于企业营销管理</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_18.png" alt="">
                        </div>
                        <div class="manage-item-title">数据可追</div>
                        <div class="manage-item-dec">多数线下流通中的商品数据会通过二维码采集回来，更具备即时性，可追溯查询</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_19.png" alt="">
                        </div>
                        <div class="manage-item-title">移动办公</div>
                        <div class="manage-item-dec">通过接入微信公众号，实现移动办公：订单申请和审核，数据查询，商品采购</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_20.png" alt="">
                        </div>
                        <div class="manage-item-title">智慧营销</div>
                        <div class="manage-item-dec">数据累计后，可对经销商进行等级分析，可对消费者消费区域和产品维度进行大量分析，形成更具备动力的营销</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 相关案例 -->
        <% if (pageCaseList.length > 0) { %>
            <div class="core-case">
                <div class="content">
                    <img class="case-tit" src="/images/10/3_16.png" />
                    <div class="case-list">
                        <% for (var i = 0; i < pageCaseList.length; i++) { %>
                            <% if (i < 2) { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } else { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html" style="margin-right: 0;">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>

    </div>

    <!-- 底部 -->
    <% include common/footer.ejs %>

    <!-- 侧边栏 -->
    <% include common/rightBar.ejs %>

    <!-- 合作意向表 -->
    <% include common/coopIntention.ejs %>

</div>

<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/swiper.js" type="text/javascript"></script>
<script src="/js/lib/backTop.js" type="text/javascript"></script>
<script src="/js/lib/common.js" type="text/javascript"></script>
<script src="/js/lib/rightBar.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/lib/swiper.js"></script>
<script type="text/javascript">
    initSwiper();

    /**
     * @desc 配置轮播图
     */
    function initSwiper() {

        new Swiper('.swiper-container_1', {
            pagination: '.pagination',
            loop: true,
            calculateHeight: true,
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            autoplay: 3000
        });

        $('.swiper-container').css({
            'opacity': '1',
            'filter': 'alpha(opacity=100)'
        });
    }

    var swiper2 = new Swiper('.swiper-container_2', {
        loop: false,
        calculateHeight: true,
        paginationClickable: true,
        autoplayDisableOnInteraction: false,
        autoplay: false,
        slidesPerView: 3,
    });

    // 点击底部轮播图上一页
    $('#prev-btn').on('click',function () {
        swiper2.swipePrev();
    });

    // 点击底部轮播图下一页
    $('#next-btn').on('click',function () {
        swiper2.swipeNext();
    });
</script>
</body>
<% include common/baidu.ejs %>
</html>