<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">

    <!-- title -->
    <title>产品介绍_立信创源二维码营销/管理方案专家</title>
    <% include common/title.ejs %>

    <link rel="stylesheet" href="/plugs/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/plugs/fonts/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/css/traceback.css" type="text/css">
</head>
<body>
<div id="container">
    <!-- 头部 -->
    <% include common/header.ejs %>

    <div class="content">

        <!--顶部图片-->
        <div class="topImg">
            <img src="../images/2/2_59.png" alt="">
        </div>

        <!--全面追溯-->
        <div class="item-modules item-modules_1">
            <div class="item-modules-title">
                <img src="../images/2/2_60.png" alt="">
            </div>
            <div class="item-modules-introduce">全流程、全品类、全用户群体、全应用场景对产品追踪溯源</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_61.png" alt="">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <div class="manage-title">
                            <div class="manage-title-text1">01</div>
                            <div class="manage-title-text2">各应用场景</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item first-child-item">生产</div>
                            <div class="manage-child-item">包装</div>
                            <div class="manage-child-item">码垛</div>
                            <div class="manage-child-item four-child-item">入库</div>
                            <div class="manage-child-item">出库</div>
                            <div class="manage-child-item">流通</div>
                            <div class="manage-child-item seven-child-item">门店</div>
                            <div class="manage-child-item">促销员</div>
                            <div class="manage-child-item">消费者</div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_2">
                        <div class="manage-title">
                            <div class="manage-title-text1">02</div>
                            <div class="manage-title-text2">品类齐全</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item one-child-item">食品</div>
                            <div class="manage-child-item two-child-item">母婴</div>
                            <div class="manage-child-item three-child-item">农资</div>
                            <div class="manage-child-item four-child-item">医药设备</div>
                            <div class="manage-child-item five-child-item">酒水饮料</div>
                            <div class="manage-child-item six-child-item">生产制造</div>
                            <div class="manage-child-item seven-child-item">美妆日化</div>
                            <div class="manage-child-item eight-child-item">食品生鲜</div>
                            <div class="manage-child-item nine-child-item">健康设备</div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <div class="manage-title">
                            <div class="manage-title-text1">03</div>
                            <div class="manage-title-text2">产品应用</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">产品原料管理</div>
                            <div class="manage-child-item">生产质量管理</div>
                            <div class="manage-child-item">出入库管理</div>
                            <div class="manage-child-item">渠道流通管理</div>
                            <div class="manage-child-item five-child-item">防窜稽查</div>
                            <div class="manage-child-item six-child-item">防伪溯源</div>
                            <div class="manage-child-item seven-child-item">数据分析</div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <div class="manage-title">
                            <div class="manage-title-text1">04</div>
                            <div class="manage-title-text2">各用户媒体</div>
                        </div>

                        <div class="manage-child-list">
                            <div class="manage-child-item">企业</div>
                            <div class="manage-child-item">渠道</div>
                            <div class="manage-child-item">消费者</div>
                            <div class="manage-child-item">监管方</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--生产追溯系统-->
        <div class="item-modules item-modules_2">
            <div class="item-modules-title">
                <img src="../images/2/2_62.png" alt="">
            </div>
            <div class="item-modules-introduce">各工位数据采集（自动记录每盒产品的生产日期、批号等相关信息，统计产量、耗材使用及人员工作量等重要信息）
                产品、箱、垛码数据关联
            </div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_63.jpg" alt="">
                <img class="point point_1" src="../images/2/2_63_2.png" alt="">
                <img class="point point_2" src="../images/2/2_63_3.png" alt="">
                <img class="point point_3" src="../images/2/2_63_4.png" alt="">
                <img class="point point_4" src="../images/2/2_63_5.png" alt="">
                <img class="point point_5" src="../images/2/2_63_6.png" alt="">
                <img class="point point_6" src="../images/2/2_63_7.png" alt="">
                <img class="point point_7" src="../images/2/2_63_8.png" alt="">
                <img class="point point_8" src="../images/2/2_63_9.png" alt="">
                <img class="point point_9" src="../images/2/2_63_12.png" alt="">
                <img class="point point_10" src="../images/2/2_63_11.png" alt="">
                <img class="point point_11" src="../images/2/2_63_1.png" alt="">
                <img class="point point_12" src="../images/2/2_63_10.png" alt="">
                <a class="detail-btn" href="/traceBackProduce.html">查看详情>></a>
            </div>
        </div>

        <!--赋码方式-->
        <div class="item-modules item-modules_3">
            <div class="item-modules-title">
                <img src="../images/2/2_64.png" alt="">
            </div>
            <div class="item-modules-introduce">多样化赋码方式，满足不同产品包装需求，低成本解决赋码难题</div>
            <div class="item-modules-dec">
                <div class="img-list">
                    <div class="img-item first-img-item">
                        <img class="old-img" src="../images/2/2_65.png" alt="">
                        <img class="news-img" src="../images/2/2_66.png" alt="">
                    </div>
                    <div class="img-item">
                        <img class="old-img" src="../images/2/2_67.png" alt="">
                        <img class="news-img" src="../images/2/2_68.png" alt="">
                    </div>
                    <div class="img-item">
                        <img class="old-img" src="../images/2/2_69.png" alt="">
                        <img class="news-img" src="../images/2/2_70.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!--渠道管理系统-->
        <div class="item-modules item-modules_4">
            <div class="item-modules-title">
                <img src="../images/2/2_71.png" alt="">
            </div>
            <div class="item-modules-introduce">全流程、全品类、全用户群体、全应用场景对产品追踪溯源</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_72.png" alt="">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <div class="manage-title">业务人员</div>
                        <div class="manage-child-list">
                            <div class="manage-child-item first-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">客户管理</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">考勤统计</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">市场稽查反馈</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">业绩统计</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">晋级制度</div>
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_2">
                        <div class="manage-title">经销商</div>
                        <div class="manage-child-list">
                            <div class="manage-child-item first-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">订单管理</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">销售数据汇总及分析</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">库存管理</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">旗下门店管理</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">活动返利</div>
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <div class="manage-title">终端门店</div>
                        <div class="manage-child-list">
                            <div class="manage-child-item first-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">销售数据汇总及分析</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">返利统计</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">库存管理</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">旗下促销员管理</div>
                            </div>
                        </div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <div class="manage-title manage-title5">促销员</div>
                        <div class="manage-child-list">
                            <div class="manage-child-item first-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">销售数据汇总及分析</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">返利统计</div>
                            </div>
                            <div class="manage-child-item">
                                <i class="icon iconfont icon-lingxing"></i>
                                <div class="child-text">旗下会员管理</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/traceBackPickUp.html" class="detail-btn">查询详情>></a>
            </div>
        </div>

        <!--防窜货系统-->
        <div class="item-modules item-modules_5">
            <div class="item-modules-title">
                <img src="../images/2/2_73.png" alt="">
            </div>
            <div class="item-modules-introduce">窜货系统解决实时监控渠道流通的问题，省下大量为窜货管理配备的人力物力，窜货控制规范企业利润、维护品牌形象</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_74.png" alt="">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <div class="manage-item-title">产品关联</div>
                        <div class="manage-item-text">瓶、箱、垛信息层层关联</div>
                    </div>
                    <div class="manage-item manage-item_2">
                        <div class="manage-item-title">消费者</div>
                        <div class="manage-item-text">根据扫码定位、ip做窜货预警</div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <div class="manage-item-title">窜货数据</div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <div class="manage-item-title">订单关联</div>
                        <div class="manage-item-center">
                            <span>PDA</span>数据采集关联
                        </div>
                    </div>
                    <div class="manage-item manage-item_5">
                        <div class="manage-item-title">经销商关联</div>
                        <div class="manage-item-text">层层关联各级经销商</div>
                    </div>
                    <div class="manage-item manage-item_6">
                        <div class="manage-item-title">市场稽查</div>
                        <div class="manage-item-text">市场稽查人员扫码进行窜货稽查</div>
                        <div class="manage-item-center">
                            窜货查询
                        </div>
                    </div>
                    <div class="manage-item manage-item_7">
                        <div class="manage-item-title">流通数据</div>
                        <div class="manage-item-text">
                            通过窜货数据和流通数据，分析各个市场的产品需求，遏制窜货频发现象
                        </div>
                        <div class="manage-item-center">
                            窜货数据分析
                        </div>
                    </div>
                </div>

                <a href="/traceBackPickUp.html" class="detail-btn">查询详情>></a>
            </div>
        </div>

        <!--数据信息-->
        <div class="item-modules item-modules_6">
            <div class="item-modules-title">
                <img src="../images/2/2_75.png" alt="">
            </div>
            <div class="item-modules-introduce">各数据信息一目了然</div>
            <div class="item-modules-dec">
                <div class="effect-wra">
                    <div class="data-img">

                        <!--电脑轮播图-->
                        <div class="swiper-container swiper-container_1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" target="_blank">
                                        <img src="../images/2/2_77.png">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" target="_blank">
                                        <img src="../images/2/2_78.png">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" target="_blank">
                                        <img src="../images/2/2_79.png">
                                    </a>
                                </div>
                            </div>
                            <div class="pagination"></div>
                        </div>
                    </div>

                    <div class="phone">

                        <!--手机轮播图-->
                        <div class="swiper-container swiper-container_2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" target="_blank">
                                        <img src="../images/2/2_81.png">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" target="_blank">
                                        <img src="../images/2/2_82.png">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" target="_blank">
                                        <img src="../images/2/2_83.png">
                                    </a>
                                </div>
                            </div>
                            <div class="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 相关案例 -->
        <% if (pageCaseList.length > 0) { %>
            <div class="core-case">
                <div class="content">
                    <img class="case-tit" src="/images/10/3_16.png" />
                    <div class="case-list">
                        <% for (var i = 0; i < pageCaseList.length; i++) { %>
                            <% if (i < 2) { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } else { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html" style="margin-right: 0;">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>

    </div>

    <!-- 底部 -->
    <% include common/footer.ejs %>

    <!-- 侧边栏 -->
    <% include common/rightBar.ejs %>

    <!-- 合作意向表 -->
    <% include common/coopIntention.ejs %>

</div>

<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/swiper.js" type="text/javascript"></script>
<script src="/js/lib/backTop.js" type="text/javascript"></script>
<script src="/js/lib/common.js" type="text/javascript"></script>
<script src="/js/lib/rightBar.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/lib/swiper.js"></script>
<script type="text/javascript">
    initSwiper1();
    initSwiper2();

    function initSwiper1() {
        new Swiper('.swiper-container_1', {
            pagination: '.pagination',
            loop: true,
            calculateHeight: true,
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            autoplay: 3000
        });
    }

    function initSwiper2() {
        new Swiper('.swiper-container_2', {
            pagination: '.pagination',
            loop: true,
            calculateHeight: true,
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            autoplay: 3000
        });
    }
</script>
</body>
<% include common/baidu.ejs %>
</html>