<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">

    <!-- title -->
    <title>产品介绍_立信创源二维码营销/管理方案专家</title>
    <% include common/title.ejs %>

    <link rel="stylesheet" href="/plugs/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/plugs/fonts/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/css/traceBackProduce.css" type="text/css">
</head>
<body>
<div id="container">
    <!-- 头部 -->
    <% include common/header.ejs %>

    <div class="content">
        
        <!--顶部图片-->
        <div class="topImg">
            <img src="../images/2/2_43.png" alt="">
        </div>

        <div class="nav">
            <a class="nav-item first-nav-item active" href="/traceBackProduce.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_2_2.png" alt="">
                        <img class="news-img" src="../images/2/2_2.png" alt="">
                    </div>

                    <div class="nav-text">生产追溯系统</div>
                </div>

            </a>

            <a class="nav-item second-nav-item" href="/traceBackChannel.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_3_2.png" alt="">
                        <img class="news-img" src="../images/2/2_3.png" alt="">
                    </div>
                    <div class="nav-text">渠道流通管理</div>
                </div>
            </a>

            <a class="nav-item three-nav-item" href="/traceBackPickUp.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_4_2.png" alt="">
                        <img class="news-img" src="../images/2/2_4.png" alt="">
                    </div>
                    <div class="nav-text">防窜货</div>
                </div>
            </a>
        </div>

        <!--流程-->
        <div class="item-modules item-modules_1">
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_44.png" alt="">
                <div class="arrow arrow_1">
                    <img src="../images/2/2_44_1.gif" alt="">
                </div>
                <div class="arrow arrow_2">
                    <img src="../images/2/2_44_1.gif" alt="">
                </div>
                <div class="arrow arrow_3">
                    <img src="../images/2/2_44_1.gif" alt="">
                </div>
                <div class="arrow arrow_4">
                    <img src="../images/2/2_44_2.gif" alt="">
                </div>
                <div class="arrow arrow_5">
                    <img src="../images/2/2_44_3.gif" alt="">
                </div>
                <div class="arrow arrow_6">
                    <img src="../images/2/2_44_3.gif" alt="">
                </div>
                <div class="arrow arrow_7">
                    <img src="../images/2/2_44_3.gif" alt="">
                </div>

            </div>
        </div>

        <!--产线改造设备-->
        <div class="item-modules item-modules_2">
            <div class="item-modules-title">
                <img class="modules_bg1" src="../images/2/2_45.png" alt="">
            </div>
            <div class="item-modules-dec">
                <div class="manage-list">
                    <div class="manage-item manage-item_1">
                        <img class="manage-img" src="../images/2/2_46.png" alt="">
                        <div class="manage-title">扫码器</div>
                    </div>
                    <div class="manage-item manage-item_2">
                        <img class="manage-img" src="../images/2/2_46_1.png" alt="">
                        <div class="manage-title">分瓶轮</div>
                    </div>
                    <div class="manage-item manage-item_3">
                        <img class="manage-img" src="../images/2/2_46_2.png" alt="">
                        <div class="manage-title">分道机</div>
                    </div>
                    <div class="manage-item manage-item_4">
                        <img class="manage-img" src="../images/2/2_46_3.png" alt="">
                        <div class="manage-title">剔除装置</div>
                    </div>
                    <div class="manage-item manage-item_5">
                        <img class="manage-img" src="../images/2/2_46_4.png" alt="">
                        <div class="manage-title">工控机</div>
                    </div>
                    <div class="manage-item manage-item_6">
                        <img class="manage-img" src="../images/2/2_46_5.png" alt="">
                        <div class="manage-title">标签打印机</div>
                    </div>
                </div>
            </div>
        </div>

        <!--视频-->
        <div class="item-modules item-modules_3">
            <div class="item-modules-dec">
                <div class="video-wra">
                    <video class="video">
                        <source src="https://h5.ebiaoji.com/letsunVideo/yedao.mp4" type="video/mp4">
                        您的浏览器不支持视频播放，请切换到极速模式或者更换浏览器~。
                    </video>
                    <img class="video-bg" src="../images/2/2_48.png" alt="">
                    <img src="../images/2/2_47.png" alt="" class="playBtn" id="playBtn">
                </div>
                <img class="mod-bg" src="../images/2/2_51.png" alt="">
                <div class="mod-list">
                    <div class="mod-item first-mod-item">
                        <div class="mod-title">生产信息下载</div>
                        <div class="mod-line"></div>
                        <div class="mod-text">生产前，提前下载产品信息</div>
                        <div class="mod-text">输入生产信息、包括：厂房、操作人、批次、班次</div>
                    </div>
                    <div class="mod-item second-mod-item">
                        <div class="mod-title">在线采集</div>
                        <div class="mod-line"></div>
                        <div class="mod-text">产品通过旋转装置</div>
                        <div class="mod-text">工控机控制采集器对每瓶产品上标签码采集</div>
                    </div>
                    <div class="mod-item three-mod-item">
                        <div class="mod-title">自动剔除</div>
                        <div class="mod-line"></div>
                        <div class="mod-text">采集不到二维码的产品</div>
                        <div class="mod-text">工控机发送信号进行剔除</div>
                    </div>
                    <div class="mod-item four-mod-item">
                        <div class="mod-title">自动分道</div>
                        <div class="mod-line"></div>
                        <div class="mod-text">采集完一箱产品</div>
                        <div class="mod-text">控制分道装置，转换区域输送</div>
                    </div>
                    <div class="mod-item five-mod-item">
                        <div class="mod-title">生产箱码</div>
                        <div class="mod-line"></div>
                        <div class="mod-text">采集够一箱产品</div>
                        <div class="mod-text">条码机打印出外箱条码标签</div>
                        <div class="mod-text">人工贴于外箱上</div>
                    </div>
                    <div class="mod-item six-mod-item">
                        <div class="mod-title">数据上传</div>
                        <div class="mod-line"></div>
                        <div class="mod-text">工控机将生产数据（瓶码与箱码等信息）</div>
                        <div class="mod-text">上传到服务器</div>
                    </div>
                </div>
            </div>
        </div>

        <!--数据采集-->
        <div class="item-modules item-modules_4">
            <div class="item-modules-title">
                <img src="../images/2/2_52.png" alt="">
            </div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_53.png" alt="">
                <div class="point-wra point-wra_1">
                    <div class="border ani1"></div>
                    <img class="point" src="../images/2/2_53_2.png" alt="">
                </div>
                <div class="point-wra point-wra_2">
                    <div class="border ani1"></div>
                    <img class="point" src="../images/2/2_53_1.png" alt="">
                </div>
                <img class="left-point" src="../images/2/2_53_4.png" alt="">
                <img class="right-point" src="../images/2/2_53_3.png" alt="">
                <div class="manage-list manage-list_1">
                    <div class="manage-item manage-item_1">原料信息</div>
                    <div class="manage-item manage-item_2">产品</div>
                    <div class="manage-item manage-item_3">操作人</div>
                    <div class="manage-item manage-item_4">产线编号</div>
                </div>
                <div class="manage-list manage-list_2">
                    <div class="manage-item manage-item_1">操作时间</div>
                    <div class="manage-item manage-item_2">操作工序</div>
                    <div class="manage-item manage-item_3">质检信息</div>
                    <div class="manage-item manage-item_4">质检报告</div>
                </div>
            </div>
        </div>

        <!--数据关联-->
        <div class="item-modules item-modules_5">
            <div class="item-modules-title">
                <img src="../images/2/2_54_1.png" alt="">
            </div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_54.png" alt="">
            </div>
        </div>

        <!--产品召回-->
        <div class="item-modules item-modules_6">
            <div class="item-modules-title">
                <img src="../images/2/2_55.png" alt="">
            </div>
            <div class="item-modules-dec">
                <div class="modules-dec-left">
                    <img class="dec-bg" src="../images/2/2_56.png" alt="">
                    <img class="img img1" src="../images/2/2_56_1.png" alt="">
                    <img class="img img2" src="../images/2/2_56_2.png" alt="">
                    <img class="img img3" src="../images/2/2_56_3.png" alt="">
                    <img class="img img4" src="../images/2/2_56_4.png" alt="">
                    <img class="img img5" src="../images/2/2_56_5.png" alt="">
                    <img class="img img6" src="../images/2/2_56_6.png" alt="">
                </div>
                <div class="modules-dec-right">
                    <div class="manage-list">
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">当产品发生问题时，为召回提供精确的数据</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">在生产过程中，避免问题重现性</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">发生问题，为责任追究提供准确的依据</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">通过采集的信息，做多维度数据分析报表为生产计划打下数据基础</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">通用性原则，适合各行业的生产制造企业管理</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">可扩展性：留有开发接口，可信息交互</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">可移植性：充分考虑软件的模块的独立性，方便以后可以按要求进行模块间无缝链接</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--定制质量分析图表-->
        <div class="item-modules item-modules_7">
            <div class="item-modules-title">
                <img src="../images/2/2_57.png" alt="">
            </div>
            <div class="item-modules-introduce">质检结果可形成：外购质量报表、外协质量报表、退货质量报表、返修质量报表、报废统计报表等企业所关心的统计分析数据</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_58.png" alt="">
                <div class="point-wra">
                    <div class="point point_1" id="point_1">
                        <div class="progress">
                            <span>43</span>%
                        </div>
                    </div>
                    <div class="point point_2" id="point_2">
                        <div class="progress">
                            <span>76</span>%
                        </div>
                    </div>
                    <div class="point point_3" id="point_3">
                        <div class="progress">
                            <span>92</span>%
                        </div>
                    </div>
                </div>

                <div class="circle-wra circle-wra_1">
                    <div class="border ani1"></div>
                    <img class="point" src="../images/2/2_58_4.png" alt="">
                </div>
                <div class="circle-wra circle-wra_2">
                    <div class="border ani1"></div>
                    <img class="point" src="../images/2/2_58_3.png" alt="">
                </div>
                <div class="circle-wra circle-wra_3">
                    <div class="border ani1"></div>
                    <img class="point" src="../images/2/2_58_6.png" alt="">
                </div>
                <div class="circle-wra circle-wra_4">
                    <div class="border ani1"></div>
                    <img class="point" src="../images/2/2_58_5.png" alt="">
                </div>
                <div class="circle-wra circle-wra_5">
                    <div class="border ani1"></div>
                    <img class="point" src="../images/2/2_58_2.png" alt="">
                </div>
            </div>
        </div>

        <!-- 相关案例 -->
        <% if (pageCaseList.length > 0) { %>
            <div class="core-case">
                <div class="content">
                    <img class="case-tit" src="/images/10/3_16.png" />
                    <div class="case-list">
                        <% for (var i = 0; i < pageCaseList.length; i++) { %>
                            <% if (i < 2) { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } else { %>
                                <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html" style="margin-right: 0;">
                                    <img src="<%= pageCaseList[i].imgUrl %>" />
                                    <div class="case-title"><%= pageCaseList[i].title %></div>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>

    </div>

    <!-- 底部 -->
    <% include common/footer.ejs %>

    <!-- 侧边栏 -->
    <% include common/rightBar.ejs %>

    <!-- 合作意向表 -->
    <% include common/coopIntention.ejs %>

</div>

<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/swiper.js" type="text/javascript"></script>
<script src="/js/lib/backTop.js" type="text/javascript"></script>
<script src="/js/lib/common.js" type="text/javascript"></script>
<script src="/js/lib/rightBar.js" type="text/javascript"></script>
<script src="/js/lib/canvas.js" type="text/javascript"></script>
<script src="/js/lib/canvas2.js" type="text/javascript"></script>
<script src="/js/lib/canvas3.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/lib/swiper.js"></script>
<script type="text/javascript">
    initSwiper();

    /**
     * @desc 配置轮播图
     */
    function initSwiper() {

        new Swiper('.swiper-container_1', {
            pagination: '.pagination',
            loop: true,
            calculateHeight: true,
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            autoplay: 3000
        });

        $('.swiper-container').css({
            'opacity': '1',
            'filter': 'alpha(opacity=100)'
        });
    }

    var swiper2 = new Swiper('.swiper-container_2', {
        loop: false,
        calculateHeight: true,
        paginationClickable: true,
        autoplayDisableOnInteraction: false,
        autoplay: false,
        slidesPerView: 3,
    });

    // 点击底部轮播图上一页
    $('#prev-btn').on('click',function () {
        swiper2.swipePrev();
    });

    // 点击底部轮播图下一页
    $('#next-btn').on('click',function () {
        swiper2.swipeNext();
    });

    // 点击播放视频
    $('#playBtn').on('click',function () {
        $('.video-bg').hide();
        $('#playBtn').hide();
        $('.video').get(0).play();
    });

    // 监听视频播放结束
    $('.video').on('ended',function () {
        $('.video-bg').show();
        $('#playBtn').show();
        $('.video').get(0).pause();
    });

    window.onload = function () {
        $(document).on('scroll', scrollAni);

        function scrollAni() {
            var scrollTop = $(window).scrollTop();
            var itemTop = $('.item-modules_6').offset().top;
            if (scrollTop >= itemTop - $('.item-modules_6').height() && scrollTop <= itemTop) {
                console.log(1);
                /*$('.item-modules_6').find('.img1').addClass('active_1');
                $('.item-modules_6').find('.img2').addClass('active_2');
                $('.item-modules_6').find('.img3').addClass('active_3');
                $('.item-modules_6').find('.img4').addClass('active_4');
                $('.item-modules_6').find('.img5').addClass('active_5');
                $('.item-modules_6').find('.img6').addClass('active_6');*/
            } else {
                console.log(2);
                /*$('.item-modules_6').find('.img1').removeClass('active_1');
                $('.item-modules_6').find('.img2').removeClass('active_2');
                $('.item-modules_6').find('.img3').removeClass('active_3');
                $('.item-modules_6').find('.img4').removeClass('active_4');
                $('.item-modules_6').find('.img5').removeClass('active_5');
                $('.item-modules_6').find('.img6').removeClass('active_6');*/
            }

        }
    }

</script>
</body>
<% include common/baidu.ejs %>
</html>