<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">

    <!-- title -->
    <title>产品介绍_立信创源二维码营销/管理方案专家</title>
    <% include common/title.ejs %>

    <link rel="stylesheet" href="/plugs/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/plugs/fonts/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/css/traceBackPickUp.css" type="text/css">
</head>
<body>
<div id="container">
    <!-- 头部 -->
    <% include common/header.ejs %>

    <div class="content">

        <!--顶部图片-->
        <div class="topImg">
            <img src="../images/2/2_42.png" alt="">
        </div>

        <div class="nav">
            <a class="nav-item first-nav-item" href="/traceBackProduce.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_2_2.png" alt="">
                        <img class="news-img" src="../images/2/2_2.png" alt="">
                    </div>

                    <div class="nav-text">生产追溯系统</div>
                </div>

            </a>

            <a class="nav-item second-nav-item" href="/traceBackChannel.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_3_2.png" alt="">
                        <img class="news-img" src="../images/2/2_3.png" alt="">
                    </div>
                    <div class="nav-text">渠道流通管理</div>
                </div>
            </a>

            <a class="nav-item active three-nav-item" href="/traceBackPickUp.html">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/2/2_4_2.png" alt="">
                        <img class="news-img" src="../images/2/2_4.png" alt="">
                    </div>
                    <div class="nav-text">防窜货</div>
                </div>
            </a>
        </div>

        <!--窜货问题-->
        <div class="item-modules item-modules_1">
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_22.png" alt="">
                <div class="modules-dec-right">
                    <div class="item-dec-title">您是否在为窜货频发而烦恼？</div>
                    <div class="manage-list">
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">消费者不信任</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">经销商无信心</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">市场价钱混乱</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">打假稽查人工成本大</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">经销商难管理</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">终端的促销奖品或优惠的到达率低</div>
                        </div>
                        <div class="manage-item">
                            <i class="icon iconfont icon-lingxing"></i>
                            <div class="child-text">数据无法收集</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--防窜货流程-->
        <div class="item-modules item-modules_2">
            <div class="item-modules-title">防窜货流程</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_24.png" alt="">
            </div>
        </div>

        <!--防窜货功能展示-->
        <div class="item-modules item-modules_3">
            <div class="item-modules-title">防窜货功能展示</div>
            <div class="item-modules-dec">
                <div class="manage-list">
                    <div class="manage-item first-manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_25.png" alt="">
                        </div>
                        <div class="manage-item-title">经销商管理</div>
                        <div class="manage-item-text">实时对总代、省、市、县四级流向监控</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_26.png" alt="">
                        </div>
                        <div class="manage-item-title">稽查人员管理</div>
                        <div class="manage-item-text">管理稽查人员的负责区域、个人信息</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_27.png" alt="">
                        </div>
                        <div class="manage-item-title">用户管理</div>
                        <div class="manage-item-text">管理消费者扫码信息、个人信息</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_28.png" alt="">
                        </div>
                        <div class="manage-item-title">产品管理</div>
                        <div class="manage-item-text">对产品品牌、品类、商品等信息进行管理</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_29.png" alt="">
                        </div>
                        <div class="manage-item-title">订单管理</div>
                        <div class="manage-item-text">所有发货订单后台查询管理</div>
                    </div>
                    <div class="manage-item first-manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_30.png" alt="">
                        </div>
                        <div class="manage-item-title">库存管理</div>
                        <div class="manage-item-text">可以查询总仓、各级经销商的产品库存情况</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_31.png" alt="">
                        </div>
                        <div class="manage-item-title">稽查管理</div>
                        <div class="manage-item-text">不同维度查询窜货稽查信息，处理稽查问题</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_32.png" alt="">
                        </div>
                        <div class="manage-item-title">数据关联</div>
                        <div class="manage-item-text">关联品、箱、垛等二维码数据</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_34.png" alt="">
                        </div>
                        <div class="manage-item-title">权限管理</div>
                        <div class="manage-item-text">不同的角色、负责人员拥有的权限不一样</div>
                    </div>
                    <div class="manage-item">
                        <div class="manage-item-img">
                            <img src="../images/2/2_35.png" alt="">
                        </div>
                        <div class="manage-item-title">数据统计</div>
                        <div class="manage-item-text">报表统计扫码、流通信息、做出窜货预警提示</div>
                    </div>
                </div>
            </div>
        </div>

        <!--防窜货的价值体现-->
        <div class="item-modules item-modules_4">
            <div class="item-modules-title">防窜货的价值体现</div>
            <div class="item-modules-dec">
                <img class="modules_bg1" src="../images/2/2_41_1.png" alt="">
                <div class="point-wra point-wra_1">
                    <div class="border border_1 ani1"></div>
                    <img class="point point_1" src="../images/2/2_41_2.png" alt="">
                </div>
                <div class="point-wra point-wra_2">
                    <div class="border border_2 ani1"></div>
                    <img class="point point_2" src="../images/2/2_41_4.png" alt="">
                </div>
                <div class="point-wra point-wra_3">
                    <div class="border border_3 ani1"></div>
                    <img class="point point_3" src="../images/2/2_41_3.png" alt="">
                </div>
                <div class="manage-list manage-list1">
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">防止产品在流通环节的恶性竞争，保证经销商的渠道利益。</div>
                    </div>
                </div>
                <div class="manage-list manage-list2">
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">消费者可通过扫码参与扫码营销活动，享受企业的促销优惠；</div>
                    </div>
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">消费者也可通过扫码进行产品的防伪溯源。</div>
                    </div>
                </div>
                <div class="manage-list manage-list3">
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">规范渠道价钱，解决实时监控渠道流通的问题；</div>
                    </div>
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">防止经销商参与恶性竞争，增强经销商和消费者对品牌的信心；</div>
                    </div>
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">确保企业定点投放（针对某些地区的特价政策、促销活动）效益最大化；</div>
                    </div>
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">窜货查询快捷方便，省下大量为窜货管理配备的人力物力；</div>
                    </div>
                    <div class="manage-item">
                        <i class="icon iconfont icon-lingxing"></i>
                        <div class="child-text">采集渠道到消费者信息，企业、渠道、用户三者对话为企业决策提供数据依据。</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 相关案例 -->
        <% if (pageCaseList.length > 0) { %>
            <div class="core-case">
                <div class="content">
                    <img class="case-tit" src="/images/10/3_16.png" />
                    <div class="case-list">
                        <% for (var i = 0; i < pageCaseList.length; i++) { %>
                            <% if (i < 2) { %>
                            <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html">
                                <img src="<%= pageCaseList[i].imgUrl %>" />
                                <div class="case-title"><%= pageCaseList[i].title %></div>
                            </a>
                        <% } else { %>
                            <a class="case-item" href="/caseDetail-<%= pageCaseList[i].id %>.html" style="margin-right: 0;">
                                <img src="<%= pageCaseList[i].imgUrl %>" />
                                <div class="case-title"><%= pageCaseList[i].title %></div>
                            </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>

    </div>

    <!-- 底部 -->
    <% include common/footer.ejs %>

    <!-- 侧边栏 -->
    <% include common/rightBar.ejs %>

    <!-- 合作意向表 -->
    <% include common/coopIntention.ejs %>

</div>

<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/swiper.js" type="text/javascript"></script>
<script src="/js/lib/backTop.js" type="text/javascript"></script>
<script src="/js/lib/common.js" type="text/javascript"></script>
<script src="/js/lib/rightBar.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/lib/swiper.js"></script>
<script type="text/javascript">
    initSwiper();

    /**
     * @desc 配置轮播图
     */
    function initSwiper() {

        new Swiper('.swiper-container_1', {
            pagination: '.pagination',
            loop: true,
            calculateHeight: true,
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            autoplay: 3000
        });

        $('.swiper-container').css({
            'opacity': '1',
            'filter': 'alpha(opacity=100)'
        });
    }

    var swiper2 = new Swiper('.swiper-container_2', {
        loop: false,
        calculateHeight: true,
        paginationClickable: true,
        autoplayDisableOnInteraction: false,
        autoplay: false,
        slidesPerView: 3,
    });

    // 点击底部轮播图上一页
    $('#prev-btn').on('click',function () {
        swiper2.swipePrev();
    });

    // 点击底部轮播图下一页
    $('#next-btn').on('click',function () {
        swiper2.swipeNext();
    });
</script>
</body>
<% include common/baidu.ejs %>
</html>